.title{
  text-align: center;
  color: #2a4da3;
}

.mat-card{
  background-color: rgba(0, 0, 0, 0);
  box-shadow:none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80%;
}

li {
  color: #2a4da3;
  font-size: 24px;
}

.custom-link{
  padding-left: 5px;
  color: #2a4da3;
}

.inputboxes{
  justify-content: center;
  align-content: center;
}

.button{
  font-size: 20px;
}

.custom-link{
  padding-left: 5px;
  color: #2a4da3;
}


