<h1 class="title">Register</h1>

<br>
<mat-card class="mat-card">

  <form (ngSubmit)="submitRegistration()">

      <ul style="list-style-type:none;">
          <div>
            <li>First</li>
            <div class="inputboxes">
              <li><input type="text" name="firstname" [(ngModel)]="firstname" id="firstname"></li>
            </div>
            <br>

          </div>

          <div>
            <li>Last</li>
            <li><input type="text" name="lastname" [(ngModel)]="lastname" id="lastname">
            </li>
          </div>
          <br>

          <div>
            <li>Username</li>
            <li><input type="text" name="username" [(ngModel)]="username" id="username">
            </li>
          </div>
          <br>

          <div>
            <li>Password</li>
            <li><input type="text" name="password" [(ngModel)]="password" id="password">
            </li>
          </div>
          <br>

          <div>
            <li>Email</li>
            <li><input type="text" name="email" [(ngModel)]="email" id="email">
            </li>
          </div>
          <br>

          <div>
            <li>Phone Number</li>
            <li><input type="text" name="phone" [(ngModel)]="phone" id="phone">
            </li>
          </div>
          <br>

        <div>
          <br>
          <li id="regButton">  <button class="button" type="submit" routerLink="/login">Register</button>
            <a class="nav-item nav-link custom-link" routerLink="/login">Already have an account? Login here!</a>
          </li>
        </div>
      </ul>
  </form>
</mat-card>
