<h1 class="title">Register</h1>

<mat-card class="mat-card" *ngIf="!loading; else loadingTemplate">

  <form (ngSubmit)="submitRegistration()">

      <ul style="list-style-type:none;">
          <div>
            <div class="inputboxes">
              <mat-form-field>
                <li><input matInput type="text" name="firstname" [(ngModel)]="firstname" id="firstname"></li>
                <mat-label>First</mat-label>
              </mat-form-field>
            </div>
            <br>

          </div>

          <div>
            <div class="inputboxes">
              <mat-form-field>
                <li><input matInput type="text" name="lastname" [(ngModel)]="lastname" id="lastname"></li>
                <mat-label>Last</mat-label>
              </mat-form-field>
            </div>
          </div>
          <br>

          <div>
            <div class="inputboxes">
              <mat-form-field>
                <li><input matInput type="text" name="username" [(ngModel)]="username" id="username"></li>
                <mat-label>Username</mat-label>
              </mat-form-field>
            </div>
          </div>
          <br>


            <div class="inputboxes">
              <mat-form-field>
                <li><input matInput type="text" name="password" [(ngModel)]="password" id="password"></li>
                <mat-label>Password</mat-label>
              </mat-form-field>
            </div>

          <br>

          <div>
            <div class="inputboxes">
              <mat-form-field>
                <li><input matInput type="text" name="email" [(ngModel)]="email" id="email"></li>
                <mat-label>Email</mat-label>
              </mat-form-field>
            </div>
          </div>
          <br>

          <div>
            <div class="inputboxes">
              <mat-form-field>
                <li><input matInput type="text" name="phone" [(ngModel)]="phone" id="phone"></li>
                <mat-label>Phone Number</mat-label>
              </mat-form-field>
            </div>
          </div>
          <br>

        <li *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </li>
        <br>
        <div>
          <br>
          <li id="regButton">  <button mat-raised-button class="button" type="submit">Register</button>
            <a class="nav-item nav-link custom-link" routerLink="/login">Already have an account? Login here!</a>
          </li>
        </div>
      </ul>
  </form>
</mat-card>

<ng-template #loadingTemplate>
  <div class="loading-spinner">
    <div></div>
  </div>
</ng-template>
