mat-card{
  background-color: #d5def5;
  padding-top: 5px;
  border: 2px solid #2a4da3;
}

mat-form-field{
  font-size: 22px;
  color: #2a4da3;
}

.title{
  background-color: #d5def5;
  padding-top: 10px;
}

.dueDate{
  background-color: #d5def5;
}

.description{
  background-color: #d5def5;
}

mat-card button{
  display: block;
  background-color: #2a4ca39e;
  font-size: 20px;
  color: white;
  width: 15%;
  align-content: center;
  padding: 0.5% 0.5%;
}

mat-card button:hover {
  background-color: #2a4da3; /* Change background color on hover */
}


