mat-card{
  background-color: #e7ecf8;
  padding-top: 5px;
  border: 3px solid #2a4da3;
  margin-right: 20px;
  margin-left: 10px;
}

mat-form-field{
  font-size: 24px;
  color: #2a4da3;
}

.title{
  background-color: #e7ecf8;
  padding-top: 10px;
}

.dueDate{
  background-color: #e7ecf8;
}

.description{
  background-color: #e7ecf8;
}

mat-card button{
  display: block;
  background-color: #2a4ca39e;
  font-size: 20px;
  color: white;
  width: 15%;
  align-content: center;
  padding: 0.5% 0.5%;
}

mat-card button:hover {
  background-color: #2a4da3; /* Change background color on hover */
}

.error-message{
  font-size: 18px;
  padding-left: 8px;
  color: red;
}



