mat-toolbar{
  background-color: #2a4ca39e;
  height: 60px;
  display: flex;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.nav-item{
  display: block;
  padding: 15px;
  font-size: 24px;
  color: white;
}

.nav-item:hover {
  background-color: #2a4da3;
}
